<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orpheus.ARC.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- SDK -->
    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    

    <!--  Features-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.compass" />

    <!-- Application -->    
    <application
        android:icon="@drawable/arc_logo"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        
        
    <!-- ACTIVITIES -->
        <activity
            android:name=".MainActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.orpheus.ARC.view.MapActivity" 
            android:parentActivityName="com.orpheus.ARC.view.MainActivity" >
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orpheus.ARC.view.MainActivity"/>
        </activity>
        
        <activity 
            android:name="com.orpheus.ARC.view.CameraActivity" 
            android:parentActivityName="com.orpheus.ARC.view.MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orpheus.ARC.view.MainActivity"/>
        </activity>
        
        <activity 
            android:name="com.orpheus.ARC.view.PostActivity" 
            android:parentActivityName="com.orpheus.ARC.view.MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orpheus.ARC.view.MainActivity"/>
        </activity>
    </application>

</manifest>
